body {
  background: #ffcce6;
  font-family: Georgia;
}

section {
  max-width: 75%;
}

a {
  color: #e60077;
}

a:visited {
  color: #9933ff;
}

#liners {
  float: right;
  max-width: 27%;
  height: 640px;
  margin-left: 1em;
}

footer{
  text-align: center;
  max-width: 40%;
}

#cookie-chem-pic {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
